* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  height: 84px;
  background-color: #f5f7fa;
  font-size: 16px;
  padding: 15px;
  font-family: "Inter", sans-serif;
}

.nav_bar ul {
  list-style: none;
  color: #18191f;
  overflow: hidden;
}
.nav_bar li {
  float: left;
}
.nav_bar li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 15px;
}
.button {
  display: flex;
  gap: 10px;
}
#login {
  width: 85px;
  height: 40px;
  background-color: #f5f7fa;
  border-radius: 10px;
  color: #4caf4f;
}
#sign {
  width: 85px;
  height: 40px;
  background-color: #4caf4f;
  border-radius: 10px;
  color: #f5f7fa;
}
.content {
  height: 599px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 250px;
  font-family: "Inter", sans-serif;
  color: #717171;
  background-color: #f5f7fa;
}
.text {
  display: flex;
  flex-wrap: wrap;
  font-size: 40px;
  width: 657px;
  height: 276px;
  color: #000;
  gap: 20px;
}
.text span {
  color: #4caf4f;
}
.text p {
  font-size: 20px;
  color: #717171;
}
.text button {
  width: 128px;
  height: 52px;
  background-color: #4caf4f;
  color: #f5f7fa;
  border-radius: 10px;
}
.clients {
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  font-size: 24px;
  color: #717171;
  font-family: "Inter", sans-serif;
}
h2 {
  font-size: 40px;
  color: #4d4d4d;
}
.management {
  height: 416px;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 50px;
  color: #717171;
  gap: 20px;
}
.img {
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 150px;
}
.system {
  width: 299px;
  height: 260px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 15px;
}
h3 {
  font-size: 35px;
  color: #4d4d4d;
}
.pixelgrade {
  height: 433px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  color: #717171;
  font-family: "Inter", sans-serif;
}
.desc {
  width: 661px;
  height: 270px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.desc button {
  width: 151px;
  height: 52px;
  background-color: #4caf4f;
  color: #f5f7fa;
  border-radius: 5px;
}
.fact {
  height: 300px;
  background-color: #f5f7fa;
  display: flex;
  flex-direction: row;
  padding: 100px;
  justify-content: center;
  gap: 100px;
  color: #717171;
  font-family: "Inter", sans-serif;
}
.headline {
  width: 540px;
  height: 120px;
}
.headline span {
  color: #4caf4f;
}
.pics {
  width: 540px;
  height: 160px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.item {
  width: 255px;
  height: 160px;
  display: flex;
  flex-direction: column;
}
.eventb {
  width: 255px;
  height: 60px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  font-size: 20px;
}
.eventb ul li {
  list-style: none;
}
.content_end {
  height: 433px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.description {
  width: 662px;
  height: 308px;
  display: flex;
  flex-direction: column;
  color: #717171;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  gap: 32px;
}
.description button {
  width: 151px;
  height: 24px;
  background-color: #4caf4f;
  color: #f5f7fa;
  border-radius: 5px;
}
.customer {
  height: 390px;
  background-color: #f5f7fa;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  font-family: "Inter", sans-serif;
}
.descr {
  width: 748px;
  height: 324px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #717171;
  font-size: 16px;
}
h4 {
  color: #4caf4f;
  font-size: 20px;
}
.end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
a:link {
  text-decoration: none;
  color: #4caf4f;
}
.community {
  height: 606px;
  display: flex;
  flex-direction: column;
  color: #717171;
  font-size: 16px;
  text-align: center;
  margin-top: 40px;
  gap: 10px;
}
.image {
  height: 366px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  gap: 30px;
  margin-top: 20px;
}
.one {
  display: flex;
  justify-content: center;
}
.text1 {
  width: 317px;
  height: 176px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f5f7fa;
  top: 50%;
  box-shadow: 0px 8px 16px 0px #abbed166;
  border-radius: 10px;
  font-size: 25px;
}
.text1 a:link {
  text-decoration: none;
  color: #4caf4f;
}
.footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  font-family: "Inter", sans-serif;
  text-align: center;
  gap: 32px;
  background-color: #f5f7fa;
}
.footer button {
  width: 178px;
  height: 52px;
  background-color: #4caf4f;
  border-radius: 5px;
}
.realfooter {
  height: 328px;
  background-color: #263238;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}
.logo {
  width: 350px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 40px;
  color: rgba(217, 219, 225, 1);
}
.info {
  width: 635px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Inter", sans-serif;
  color: rgba(217, 219, 225, 1);
}

.inf ul {
  width: 160px;
  height: 148px;
  font-size: 14px;

  list-style: none;
  line-height: 25px;
  margin-top: 20px;
}
.date {
  width: 255px;
  height: 82px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: rgba(217, 219, 225, 1);
  font-family: "Inter", sans-serif;
  position: relative;
}
.date input {
  width: 255px;
  height: 40px;
  border-radius: 8px;
  background-color: #717171;
  opacity: 0.7;
  text-align: center;
  color: #f5f7fa;
  position: absolute;
}

.date button {
  background-color: #717171;
  position: absolute;
  left: 88.24%;
  right: 4.71%;
  top: 68.48%;
  bottom: 11.96%;
}
