* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-content {
  width: 100%;
  height: 630px;
  background-image: url(https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/4b500d1101336e8a3f6be8fb4521c6c7.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background-blend-mode:darken;
}
.content {
  width: 100%;
  height: 630px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));

}
.nav_bar {
  position: absolute;
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.search-section {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.search-section img {
  padding-top: 5px;
}
.search-section span {
  padding-left: 10px;
  padding-right: 10px;
}
.nav_bar input {
  width: 120px;
  height: 30px;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: gray;
}
.news {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.6px;
  color: #ffffff;
  gap: 15px;
}
.next-news {
  color: gray;
}
.news-time {
  width: 141px;
  height: 35px;
  background-color: #ffffff80;
  color: #ffffff;
  text-align: center;
  padding: 10px 15px;
  border-radius: 20px;
}
.todays-news {
  width: 50%;
  height: 400px;
  position: absolute;
  margin-top: 130px;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  gap: 45px;
}
.news-img {
  width: 400px;
  height: 400px;
  background-image: url(https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/db1de093db8bbeae103383001a8273bd.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.text {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text h1 {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #0078f6;
  padding-bottom: 20px;
}
.text ul {
  list-style: none;
  font-size: 36px;
  color: #ffffff;
}
.title {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
.author {
  height: 40px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding-top: 25px;
}
.authors-photo {
  width: 36px;
  height: 36px;
  background-image: url(https://unread.today/files/profile/452a23488f336be1094232a7cb0e83bd.jpg);
  background-position: center;
  background-size: cover;
  border: 2px double #ffffff;
  border-radius: 18px;
}
.author ul {
  list-style: none;
  font-size: 12.6px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
.author span {
  color: gray;
}
.editors-choice {
  width: 100%;
  height: 327px;
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  border-top: 1px solid gray;
}
.header {
  width: 50%;
  height: 85px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-top: 20px;
}
