* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content {
  width: 100%;
  height: 630px;
  background-image: url(https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/59c72697c3a8444af825f2fcf5691137.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background-blend-mode: darken;
}

.content {
  width: 100%;
  height: 630px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.nav_bar {
  position: absolute;
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.search-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.img-logo {
  width: 134.8px;
  height: 18px;
  background-image: url(https://unread.today/files/site_meta/b809740220f5b5b4749e697e42df987b.png);
  background-position: center;
  background-size: cover;
}
.search-section span {
  padding-left: 10px;
  padding-right: 10px;
}
.nav_bar input {
  width: 120px;
  height: 30px;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: gray;
}
.news {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.6px;
  color: #ffffff;
  gap: 15px;
}
.next-news {
  color: gray;
}
.news-time {
  width: 141px;
  height: 35px;
  background-color: #ffffff80;
  color: #ffffff;
  text-align: center;
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: 4px 4px 50px -4px rgba(209, 209, 209, 0.6);
  opacity: 1;
}
.dott {
  animation-name: color;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}
@keyframes color {
  0% {
    color: #0d5de7;
  }
  50% {
    color: transparent;
  }
  100% {
    color: #0d5de7;
  }
}
.todays-news {
  width: 50%;
  height: 400px;
  position: absolute;
  margin-top: 130px;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  gap: 45px;
}
.todays-news a {
  text-decoration: none;
}
.news-img {
  width: 400px;
  height: 400px;
  background-image: url(https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/db1de093db8bbeae103383001a8273bd.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  transition: all 0.1s ease-in;
}
.news-img:hover {
  width: 410px;
  height: 410px;
}
.text {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text h1 {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #0078f6;
  padding-bottom: 20px;
}
.text ul {
  list-style: none;
  font-size: 36px;
  color: #ffffff;
}
.title {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
.author {
  height: 40px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  padding-top: 25px;
  font-size: 12.6px;
}
.authors-photo {
  width: 36px;
  height: 36px;
  background-position: center;
  background-size: cover;
  border: 2px double #ffffff;
  border-radius: 18px;
}
#authors {
  background-image: url(https://unread.today/files/profile/ab44cbc261a2708ec974cc0724bdfa09.jpeg);
}
.authors-info ul {
  list-style: none;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.6px;
}
.authors-info span {
  color: gray;
}
.editors-choice {
  width: 100%;
  height: 327px;
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  border-top: 1px solid gray;
  position: relative;
}
.header {
  width: 50%;
  height: 85px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-top: 20px;
}
.newsfeed {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  position: absolute;
  margin-top: 70px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
.newsf {
  width: 294px;
  height: 434px;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}
.newsf:hover {
  width: 330px;
  height: 470px;
}
.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
  align-items: flex-start;
}
.news-title {
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding: 20px 0 20px 20px;
}
.social_links {
  width: 109px;
  height: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.social_links i {
  color: #969696;
}
.social_links i:hover {
  color: #057ef7;
}
.type {
  width: 80%;
  height: 30px;
  background-color: #0078f6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#news1 {
  background-image: url(https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/9a316b70d85cf3d44242613d6a15c809.jpg);
}
#news2 {
  background-image: url(https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/6c7379f6a279651cc886c07f98086bbc.jpg);
}
#news3 {
  background-image: url(https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/03967d2f0f1b319e42ac4c8c2de6b0b3.png);
}
#news4 {
  background-image: url(https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/15b480dde130301ccfcb83cc83796577.png);
}
#news5 {
  background-image: url(https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/06c81a70abc3c6e36ebe81f34829ed10.jpg);
}
.twelwe-news {
  width: 100%;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bside-news1 {
  width: 740px;
  height: 346px;
  margin-right: 400px;
  transition: all 0.2s ease-in;
}
.bside-news1:hover {
  width: 760px;
  height: 366px;
}
.bside-news2 {
  width: 740px;
  height: 346px;
  margin-left: 400px;
  transition: all 0.2s ease-in;
}
.bside-news2:hover {
  width: 760px;
  height: 366px;
}
.authorb {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#authorsphoto {
  background-image: url(https://unread.today/files/profile/ab44cbc261a2708ec974cc0724bdfa09.jpeg);
}
#authorsphoto1 {
  background-image: url(https://unread.today/files/profile/f14a217d09d0d74f3824c3aa80eba6a5.JPG);
}
#authorsphoto2 {
  background-image: url(https://unread.today/files/profile/452a23488f336be1094232a7cb0e83bd.jpg);
}
#authorsphoto3 {
  background-image: url(https://unread.today/files/profile/00b063d23a6c69f2b1482fa084fddbf5.jpg);
}
#authorsphoto4 {
  background-image: url(https://unread.today/files/profile/0f46a164a4640fa6ce9c12e88ab2d48a.jpeg);
}
#authorsphoto5 {
  background-image: url(https://unread.today/files/profile/452a23488f336be1094232a7cb0e83bd.jpg);
}
#authorsphoto6 {
  background-image: url(https://unread.today/files/profile/8b41add06e95ac849a03367cedef5979.png);
}
#authorsphoto7 {
  background-image: url(https://unread.today/files/profile/f14a217d09d0d74f3824c3aa80eba6a5.JPG);
}
#authorsphoto8 {
  background-image: url(https://unread.today/files/profile/0f46a164a4640fa6ce9c12e88ab2d48a.jpeg);
}
#authorsphoto9 {
  background-image: url(https://unread.today/files/profile/f14a217d09d0d74f3824c3aa80eba6a5.JPG);
}
#authorsphoto0 {
  background-image: url(https://unread.today/files/profile/03777e0530674c333e0932d56a7097ae.jpeg);
}
#authorsphoto11 {
  background-image: url(https://unread.today/files/profile/03777e0530674c333e0932d56a7097ae.jpeg);
}
.twelwe-news ul {
  list-style: none;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}
.twelwe-news span {
  color: black;
}
.enew {
  width: 100%;
  height: 183px;
  background-color: #ece7e7;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  font-family: sans-serif;
  padding: 30px 0 20px 20px;
  box-shadow: 0px 0px 50px 4px rgba(120, 118, 118, 0.3);
}
.enew:hover {
  box-shadow: 0px 0px 50px 4px rgba(83, 82, 82, 0.3);
}
.new {
  width: 100%;
  height: 183px;
  background-color: #ece7e7;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  font-family: sans-serif;
  padding: 30px 0 20px 20px;
  box-shadow: 0px 0px 50px 4px rgba(120, 119, 119, 0.3);
}
.new:hover {
  box-shadow: 0px 0px 50px 4px rgba(83, 82, 82, 0.3);
}
.content1 {
  width: 60%;
  height: 100px;
}
.textt {
  width: 380px;
  height: 80px;
  font-size: 22px;
  padding-left: 16px;
}
.content-pic {
  width: 135px;
  height: 135px;
  background-image: url(https://unread.today/files/ed579b98-8b6a-46a5-a2db-38fafd069ab2/13e324d3e36170ce40d906488aa24e02.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.timeline {
  width: 70%;
  height: 63px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  border-bottom: 1px solid gray;
  justify-content: space-between;
}
.timeline1 {
  width: 220px;
  height: 62px;
  border-bottom: 1px solid gray;
  color: gray;
  text-align: center;
  padding-top: 25px;
}
.timeline1:hover {
  border-bottom: 1px solid blue;
  color: blue;
}
.main-new {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 40px;
}
.linknews {
  display: grid;
  grid-template-columns: repeat(2, 265px);
  grid-template-rows: 380px 213px;
  gap: 15px;
}
.link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.linknews > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.desc {
  width: 100%;
  height: 80px;
  display: flex;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
.desc ul {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 19px;
}
.desc span {
  color: gray;
  font-size: 16px;
}
.plusdesc ul {
  font-size: 15px;
}
.plusdesc > ul > span {
  font-size: 10px;
}
.link1 {
  background-image: url(https://unread.today/files/44/fb22ab394a1b1ed66b2cf9839bdf4f2a.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  grid-column: 2 span;
}

.link2 {
  background-image: url(https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/15b480dde130301ccfcb83cc83796577.png);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.link3 {
  background-image: url(https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/f214ecbbae9edfd49dbab990e70348c6.png);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.linknews2 {
  display: grid;
  grid-template-columns: repeat(2, 264px);
  grid-template-rows: 271px 323px;
  gap: 15px;
}
.linknews2 > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.link4 {
  background-image: url(https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/78832a07283174d05b2b836379c87c1f.png);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.link5 {
  background-image: url(https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/06c81a70abc3c6e36ebe81f34829ed10.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.link6 {
  background-image: url(https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/b18ed96a70e674679fe66b153eea1c20.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.link7 {
  background-image: url(https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/ce50547f57ca26f5e8bacba081e90f69.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.link10 {
  background-image: url(https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/ff5edb50fcafbe86e1c946d1e571146f.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  grid-column: 2 span;
}
.link20 {
  background-image: url(https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/6dc13475528502b25e38397feb99c727.png);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.link30 {
  background-image: url(https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/03967d2f0f1b319e42ac4c8c2de6b0b3.png);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.link40 {
  border-radius: 15px;
  background-image: url(https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/c29553e2c13aca48bfdb0698ddf6dba8.jpg);
  background-position: center;
  background-size: cover;
}
.link50 {
  background-image: url(https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/1a0295d5774bb8639bad7c49f7be4818.png);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.link60 {
  background-image: url(https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/b18ed96a70e674679fe66b153eea1c20.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.link70 {
  background-image: url(https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/ce50547f57ca26f5e8bacba081e90f69.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.footer {
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  margin-top: 50px;
}
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 80px;
}
.first-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 466px;
  height: 400px;
}
.contact a {
  width: 343px;
  height: 110px;
  border-radius: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(https://unread.today/img/btn-black.png);
  background-position: 50% 50%;
  background-size: cover;
  font-size: 19px;
  text-decoration: none;
  transition: left 0.2s linear;
  font-family: Arial, Helvetica, sans-serif;
}

.contact ul {
  list-style: none;
  text-align: start;
  overflow: hidden;
  line-height: 25px;
  color: #fff;
}
.contact span {
  font: 14px;
  color: grey;
}
.arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #000;
}
.contact button:hover {
  background-color: #0d5de7;
  border-color: #0d5de7;
}
.contact a:hover {
  width: 353px;
}
.applinks {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.links a {
  width: 40%;
  height: 45px;
  border-radius: 15px;
}
.second-footer {
  width: 507px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contact-bar {
  width: 100%;
  height: 22px;
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.contact-bar ul {
  list-style: none;

  overflow: hidden;
}
.contact-bar li {
  float: left;
}
.contact-bar ul a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
}
.copyright {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}
.info {
  width: 625px;
  height: 265px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.corner {
  display: flex;
  width: 208px;
  height: 265px;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.6px;
  color: #0078f6;
  letter-spacing: 0.03rem;
}
h2 {
  padding-bottom: 35px;
}
.corner a {
  text-decoration: none;
  color: gray;
  line-height: 30px;
}
.nocorner {
  padding-top: 58px;
}
.corner a:hover {
  color: #ffffff;
}
.social-links {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 80px;
}
@media screen and (max-width: 767px) {
  .main-content {
    width: 100vw;
    height: 504px;
    background-image: url(https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/59c72697c3a8444af825f2fcf5691137.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background-blend-mode: darken;
  }
  .nav_bar {
    position: absolute;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .search-section input {
    display: none;
  }
  .news-img {
    display: none;
  }
  .todays-news {
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    margin-top: 250px;
  }
  .text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .text h1 {
    font-size: 12px;
  }
  .text ul {
    list-style: none;
    font-size: 28px;
    color: #ffffff;
  }
  .news,
  .social_links {
    display: none;
  }
  .authors-info ul {
    font-size: 12.6px;
  }

  .editors-choice {
    width: 100%;
    height: 327px;
  }
  .header {
    width: 80%;
    height: 85px;
  }
  .newsfeed {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    position: absolute;
    margin-top: 70px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  }
  .newsf {
    width: 203px;
    height: 299px;
    display: flex;
    color: #ffffff;
    font-size: 12px;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
  }
  .newsf:hover {
    width: 230px;
    height: 320px;
  }
  #news1,
  #news2,
  #news3,
  #news4 {
    display: none;
  }
  .twelwe-news {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .bside-news1,
  .bside-news2 {
    width: 100%;
    height: 235px;
    margin: 0;
  }
  .bside-news1:hover {
    display: none;
  }

  .bside-news2:hover {
    display: none;
  }
  .enew {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .textt {
    width: 100%;
    height: 80%;
    font-size: 18px;
    padding-left: 16px;
  }
  .content-pic {
    display: none;
  }
  .week2,
  .week3 {
    display: none;
  }
  .main-new {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .linknews {
    display: grid;
    grid-template-columns: repeat(1, 265px);
    grid-template-rows: repeat(3, 213px);
    gap: 15px;
  }
  .linknews2 {
    display: grid;
    grid-template-columns: repeat(1, 264px);
    grid-template-rows: repeat(4, 213px);
    gap: 15px;
  }
  .link2,
  .link3,
  .link4,
  .link5,
  .link6,
  .link7,
  .link8,
  .link9,
  .link20,
  .link30,
  .link40,
  .link50,
  .link60,
  .link70 {
    grid-column: 2 span;
  }
  .footer {
    height: 1600px;
  }
  .footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .applinks {
    width: 100px;
  }
  .links a {
    width: 40%;
    height: 45px;
    border-radius: 15px;
  }
  .second-footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 80px;
  }
  .first-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    height: 400px;
  }

  .contact-bar {
    width: 100%;
    height: 22px;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .info {
    width: 80%;
    height: 265px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .social-links {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav_bar {
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .social_links {
    display: none;
  }

  .todays-news {
    width: 100%;
    margin-left: 0;
    padding-left: 50px;
  }
  .newsfeed {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    position: absolute;
    margin-top: 100px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  }
  .newsf {
    width: 177px;
    height: 262px;
    font-size: 10px;
  }
  .twelwe-news {
    width: 100%;
    margin-top: 100px;
  }
  .bside-news1 {
    width: 604px;
    height: 250px;
    margin-right: 200px;
    transition: all 0.2s ease-in;
  }
  .bside-news1:hover {
    width: 630px;
    height: 280px;
  }
  .bside-news2 {
    width: 604px;
    height: 250px;
    margin-left: 200px;
    transition: all 0.2s ease-in;
  }
  .bside-news2:hover {
    width: 630px;
    height: 280px;
  }
  .main-new {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 40px;
  }
  .linknews {
    display: grid;
    grid-template-columns: repeat(2, 174px);
    grid-template-rows: 213px 178px;
    gap: 15px;
  }
  .link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .linknews2 {
    display: grid;
    grid-template-columns: repeat(2, 174px);
    grid-template-rows: 179px 213px;
    gap: 15px;
  }
  .first-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 312px;
    height: 489px;
  }
  .second-footer {
    width: 468px;
    height: 489px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .contact a {
    width: 287px;
    height: 112px;
    font-size: 15px;
  }
  .info {
    width: 468px;
    height: 265px;

    gap: 10px;
  }
  .social-links {
    padding-top: 20px;
  }
}
